[submodule "dist/freedom-u-sdk"]
	path = dist/freedom-u-sdk
	url = https://github.com/sifive/freedom-u-sdk.git
[submodule "keystone"]
	path = keystone
	url = https://github.com/keystone-enclave/keystone
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
